/* Header section */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 45px;
    font-size: 22px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.nav-item a:hover  {
    text-decoration: none;
    color: rgb(131, 8, 8);
    font-family: sans-serif;
}
/* Hero section */
.site-hero {
    height: 680px;
    position: relative;
    background-image: url('./images/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.hero-content {
    margin-left: 80px;
}
.hero-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10rem;
    margin: 0;
    color: white;
}
.hero-subtitle {
    font-size: 20px;
    width: 492px;
    line-height: 30px;
    color: white;
}
.hero-btn {
    padding: 12px 45px;
    background-color: tomato;
    border: navajowhite;
    font-size: 17px;
    color: wheat;
    border-radius: 10px;
}
/* <!-- Features section --> */
.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 45px;
}
.features-left span {
    font-size: 23px;
    color: #b61212;
    font-family: sans-serif;
}
.features-title {
    font-size: 44px;
    width: 352px;
    font-family: system-ui;
    margin: 11px 0px;
}
.features-subtitle {
    font-size: 20px;
    width: 432px;
    line-height: 28px;
    font-family: fangsong;
    font-weight: 500;
}
.features-content {
    font-size: 18px;
    width: 360px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 30px;
}
.features-content p strong {
    font-weight: bolder;
    font-family: system-ui;
    font-size: 21px;
}
.features-images img {
    width: 320px;
}
.features-left_side {
    display: flex;
}
.features-images_left img {
    width: 225px;
    margin-right: 10px;
}
.features-small_img img {
    width: 135px;
    margin-left: 15px;
}
/* Menu section */
.menu-content {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.menu-top_title {
    text-align: -webkit-center;
}
.menu-subtitle {
    font-size: 23px;
    width: 624px;
    text-align: center;
}
.menu-title {
    font-size: 40px;
    color: tomato;
    margin: 0;
}
.menu-card {
    position: relative;
    width: 300px;
}
.menu-card img {
    width: 325px;
}
.menu-overlay {
    position: absolute;
    bottom: 15px;
    color: white;
    left: 15px;
    z-index: 10;
}
.menu-dollar h2 {
    top: 0;
    right: 0;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 32px;
    border: 1px solid;
    padding: 10px;
    font-weight: bolder;
    font-size: 32px;
    position: absolute;
}
.menu-overlay h3 {
    font-size: 45px;
    margin: 0;
    font-family: 'Noto Sans KR';
}
.menu-overlay p {
    font-size: 20px;
    margin: 10px;
    font-family: 'Noto Sans KR';
}
/*  chicken area  */
.chicken-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('./images/chicken-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
}
.chicken-left img {
    width: 490px;
}
.chicken-right h2 {
    font-size: 110px;
    color: white;
    font-family: system-ui, -apple-system, sans-serif;
}
.chicken-logo {
    display: flex;
    justify-content: space-between;
    margin-top: -13rem;
    margin-bottom: -45px;
}
.chicken-logo img {
    width: 180px;
}
/* Food area */
.menu-top_title {
    margin-bottom: 60px;
}
.food-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-item {
    width: 403px;
  
}
.food-item img {
    width: 270px;
}
/* Card area */
.card-top_title {
    text-align: -webkit-center;
    margin: 75px;
}
.card-content {
    display: flex;
    justify-content: space-around;
}
.card-item {
    width: 300px;
    background-color: beige;
    padding: 0px 0 15px;
    text-align: center;
    border-radius: 20px;
}
.card-item img {
    width: 300px;
    border-radius: 12px;
}
.card-item h3 {
    font-size: 28px;
    margin: 20px;
    font-family: sans-serif;

}
.card-item p {
    font-size: 20px;
    font-family: system-ui;
}
.Card-btn {
    text-align: center;
    margin: 50px;
}
.Card-btn button {
    font-size: 28px;
    font-family: sans-serif;
    padding: 13px 83px;
    border-radius: 30px;
    background-color: #b9403c;
    border: navajowhite;
    color: white;
    cursor: pointer;
}
/* experience area */
.experience-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.experience-images img {
    width: 40rem;
}
.experience-sub-images img {
    width: 317px;
}
.brand-name {
    font-size: 23px;
    color: #b61212;
    font-family: sans-serif;
}
.experience-content h2 span {
    font-size: 50px;
    color: #b61212;
    font-family: sans-serif;
}
.experience-content h2 {
    font-size: 50px;
    width: 260px;
    font-family: system-ui;
}
.experience-content p {
    font-size: 20px;
    width: 432px;
    line-height: 28px;
    font-family: fangsong;
    font-weight: 500;
}
.experience-icons {
    display: flex;
    gap: 22px;

}
.experience-icons img {
    width: 70px;
    height: 65px;
    border-radius: 10px;
}
.sub-icon {
    width: 100px;
    height: 85px;
    background-color: #b9403c;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-badge {
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
    width: 356px;
    height: 68px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 30px;
    border-left: 6px solid #b9403c;
}
.experience-label {
    margin-left: -90px;
}
/* coffee-section */
.coffee-container {
    background-image: url(./images/coffee-bg.png);
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    align-items: anchor-center;
    margin-top: 85px;
}
.coffee-left {
    margin-left: 110px;
}
.coffee-left h2 {
    font-size: 52px;
    width: 415px;
    font-family: system-ui;
    margin: 11px 0px;
    color: white;
}
.coffee-left p {
    font-size: 20px;
    width: 432px;
    line-height: 28px;
    font-family: fangsong;
    font-weight: 500;
    color: white;
}
.coffee-right img {
    width: 482px;
}
/* carrefour section */
.carrefour-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.carrefour-left h2 {
    font-size: 52px;
    width: 415px;
    font-family: system-ui;
    margin: 11px 0px;
    color: black;
}
.carrefour-left p {
    font-size: 20px;
    width: 568px;
    line-height: 28px;
    font-family: fangsong;
    font-weight: 500;
    color: black;
    line-height: 30px;
}
.carrefour-right img {
    width: 500px;
    margin-top: -10rem;
}
.carrefour-bottom_img img {
    width: 380px;
    margin-left: -122px;
    margin-top: -70px;
}
/* cafe & milk section */
.cafe-title {
    text-align: -webkit-center;
    margin: 75px;
}
.cafe-menu_title{
    font-size: 40px;
    color: #603809;
    margin: 0;
}
.cafe-menu_subtitle{
    font-size: 23px;
    width: 624px;
    text-align: center;
    color: #707070;
}
.carrefour-right_img img {
    width: 345px;
    margin-top: -50px;
    float: right;
    margin-left: -18rem;
}

/* coffee menu section */
.menu-container_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}
.coffee-Menu_title {
    text-align: -webkit-center;
    margin: 75px;
}
.coffee-Menu_title h2 {
    font-size: 40px;
    color: #603809;
    margin: 0;
}
.coffee-Menu_title p{
    font-size: 23px;
    width: 624px;
    text-align: center;
    color: #707070;
}
.coffee-Menu_content {
    display: flex;
    align-items: center;
}
.coffee-Menu_item {
    width: 253px;
}
.coffee-Menu_item h3{
    color: #160d0d;
    font-size: 30px;
    margin: 0;
    margin-top: 40px;
    font-weight: bolder;

}
.coffee-Menu_item p{
    color: #4f4f4f;
}
.coffee-cup_img img {
    width: 545px;
}
/* form section */
.form-content {
    text-align: -webkit-center;
    margin: 75px;
}
.form-content h2 {
    font-size: 40px;
    color: #603809;
    margin: 0;
}
.form-content input {
      
}
